### Import Library

In [ ]:
import sys
sys.path.append(
    "/Users/jacky/Library/Mobile Documents/com~apple~CloudDocs/交大教學/DB/Lecture-Database/.venv/lib/python3.13/site-packages")
import mysql.connector

### Build Functions

In [ ]:
def build_connection(host, user, password, database):
    connection = None
    try:
        connection = mysql.connector.connect(
        host=host,
        user=user,
        password=password,
        database=database
        )
        print(f'Connection to MySQL {database} database successfully!!')
    except mysql.connector.OperationalError as err:
        print(f"❌ OperationalError: {err.errno} | SQLSTATE: {err.sqlstate} | Message: {err.msg}")
    except mysql.connector.DatabaseError as err:
        print(f"❌ DatabaseError: {err.errno} | SQLSTATE: {err.sqlstate} | Message: {err.msg}")
    except mysql.connector.InterfaceError as err:
        print(f"❌ InterfaceError: {err.errno} | SQLSTATE: {err.sqlstate} | Message: {err.msg}")
    return connection

In [ ]:
def execute_sql(connection, sql):
    cursor = connection.cursor()
    try:
        cursor.execute(sql)
        connection.commit()
        print("Query executed successfully")
    except mysql.connector.IntegrityError as err:
        print(f"❌ IntegrityError: {err.errno} | SQLSTATE: {err.sqlstate} | Message: {err.msg}")
    except mysql.connector.ProgrammingError as err:
        print(f"❌ ProgrammingError: {err.errno} | SQLSTATE: {err.sqlstate} | Message: {err.msg}")
    except mysql.connector.OperationalError as err:
        print(f"❌ OperationalError: {err.errno} | SQLSTATE: {err.sqlstate} | Message: {err.msg}")
    except mysql.connector.DataError as err:
        print(f"❌ DataError: {err.errno} | SQLSTATE: {err.sqlstate} | Message: {err.msg}")
    except mysql.connector.NotSupportedError as err:
        print(f"❌ NotSupportedError: {err.errno} | SQLSTATE: {err.sqlstate} | Message: {err.msg}")
    except mysql.connector.InternalError as err:
        print(f"❌ InternalError: {err.errno} | SQLSTATE: {err.sqlstate} | Message: {err.msg}")

In [ ]:
def execute_read(connection, sql):
    cursor = connection.cursor()
    result = None
    try:
        cursor.execute(sql)
        result = cursor.fetchall()
        return result
    except mysql.connector.ProgrammingError as err:
        print(f"❌ ProgrammingError: {err.errno} | SQLSTATE: {err.sqlstate} | Message: {err.msg}")
    except mysql.connector.OperationalError as err:
        print(f"❌ OperationalError: {err.errno} | SQLSTATE: {err.sqlstate} | Message: {err.msg}")
    except mysql.connector.DataError as err:
        print(f"❌ DataError: {err.errno} | SQLSTATE: {err.sqlstate} | Message: {err.msg}")
    except mysql.connector.NotSupportedError as err:
        print(f"❌ NotSupportedError: {err.errno} | SQLSTATE: {err.sqlstate} | Message: {err.msg}")
    except mysql.connector.InternalError as err:
        print(f"❌ InternalError: {err.errno} | SQLSTATE: {err.sqlstate} | Message: {err.msg}")

### Build Connection

In [ ]:
connection = build_connection('localhost', 'dbms_demo', 'NYCUdbms314', 'demo')

### Create Tables

In [ ]:
create_user_table = """
CREATE TABLE IF NOT EXISTS user (
    id INT PRIMARY KEY AUTO_INCREMENT,
    name VARCHAR(20) NOT NULL,
    age INT,
    gender VARCHAR(10),
    nationality VARCHAR(20)
);
"""
create_post_table = """
CREATE TABLE IF NOT EXISTS post (
    id INT PRIMARY KEY AUTO_INCREMENT,
    title VARCHAR(100) NOT NULL,
    description TEXT,
    user_id INT NOT NULL,
    CONSTRAINT FOREIGN KEY (user_id) REFERENCES user (id)
);
"""
create_comment_table = """
CREATE TABLE IF NOT EXISTS comment (
    id INT PRIMARY KEY AUTO_INCREMENT,
    text TEXT NOT NULL,
    user_id INT NOT NULL,
    post_id INT NOT NULL,
    CONSTRAINT FOREIGN KEY (user_id) REFERENCES user (id),
    CONSTRAINT FOREIGN KEY (post_id) REFERENCES post (id)
);
"""
create_like_table = """
CREATE TABLE IF NOT EXISTS like_ (
    id INT PRIMARY KEY AUTO_INCREMENT,
    user_id INT NOT NULL,
	post_id	INT NOT NULL,
	CONSTRAINT FOREIGN KEY(user_id) REFERENCES user (id),
	CONSTRAINT FOREIGN KEY(post_id) REFERENCES post (id)
);
"""
execute_sql(connection, create_user_table)
execute_sql(connection, create_post_table)
execute_sql(connection, create_comment_table)
execute_sql(connection, create_like_table)

### Create Records

In [ ]:
insert_user = """
INSERT INTO user (name, age, gender, nationality)
VALUES
    ('James', 25, 'male', 'USA'),
    ('Leila', 32, 'female', 'France'),
    ('Brigitte', 35, 'female', 'England'),
    ('Mike', 40, 'male', 'Denmark'),
    ('Elizabeth', 21, 'female', 'Canada');
"""
execute_sql(connection, insert_user)

In [ ]:
insert_post = """
INSERT INTO post (title, description, user_id)
VALUES
    ('Happy', 'I am feeling very happy today', 1),
    ('Hot Weather', 'The weather is very hot today', 2),
    ('Help', 'I need some help with my work', 2),
    ('Great News', 'I am getting married', 1),
    ('Interesting Game', 'It was a fantastic game of tennis', 5),
    ('Party', 'Anyone up for a late-night party today?', 3);
"""
execute_sql(connection, insert_post)

In [ ]:
insert_comment = """
INSERT INTO comment (text, user_id, post_id)
VALUES
    ('Count me in', 1, 6),
    ('What sort of help?', 5, 3),
    ('Congrats buddy', 2, 4),
    ('I was rooting for Nadal though', 4, 5),
    ('Help with your thesis?', 2, 3),
    ('Many congratulations', 5, 4);
"""
execute_sql(connection, insert_comment)

In [ ]:
insert_like_ = """
INSERT INTO like_ (user_id, post_id)
VALUES
    (1, 6),
    (2, 3),
    (1, 5),
    (5, 4),
    (2, 4),
    (4, 2),
    (3, 6);
"""
execute_sql(connection, insert_like_)

### Read Records

In [ ]:
select_user = "SELECT * FROM user"
users = execute_read(connection, select_user)
for user in users:
    print(user)

In [ ]:
select_post = "SELECT * FROM post"
posts = execute_read(connection, select_post)
for post in posts:
    print(post)

In [ ]:
select_comment = "SELECT * FROM comment"
comments = execute_read(connection, select_comment)
for comment in comments:
    print(comment)

In [ ]:
select_likes = "SELECT * FROM like_"
likes = execute_read(connection, select_likes)
for like in likes:
    print(like)

In [ ]:
# return the user ids and names, along with the description of the posts that these users posted
select_user_post = """
SELECT user.id, user.name, post.description
FROM post 
INNER JOIN user ON post.user_id = user.id;
"""
users_posts = execute_read(connection, select_user_post)
for user_post in users_posts:
    print(user_post)

In [ ]:
# returns all posts, along with the comments on the posts and 
# the names of the users who posted the comments
select_post_comment_user = """
SELECT post.description as post, comment.text as comment, user.name as name
FROM post 
INNER JOIN comment ON post.id = comment.post_id
INNER JOIN user ON user.id = comment.user_id;
"""
posts_comments_users = execute_read(connection, select_post_comment_user)
for post_comment_user in posts_comments_users:
    print(post_comment_user)

In [ ]:
# returns the post, along with the total number of likes that the post received
# Implicit joins use a comma-separated list of tables in the FROM clause, 
# and the join conditions are specified in the WHERE clause. 
# Implicit join is a deprecated syntax and is not recommended for use.
# cursor.close()
# cursor = connection.cursor()

select_post_like_ = """
SELECT post.description as post_desc, COUNT(like_.id) as likes
FROM post, like_
WHERE post.id = like_.post_id
GROUP BY like_.post_id;
"""
posts_likes = execute_read(connection, select_post_like_)
for post_like in posts_likes:
    print(post_like)

In [ ]:
# returns the post, along with the total number of likes that the post received
# Explicit joins use the JOIN keyword to specify the join operation, 
# and the join conditions are specified in the ON clause. 
# This is a recommended syntax.

select_posts_likes = """
SELECT 
    post.description as post, COUNT(like_.id) as like_
FROM 
    post
INNER JOIN like_ ON post.id = like_.post_id
GROUP BY 
    like_.post_id;
"""
posts_likes = execute_read(connection, select_posts_likes)
for post_like in posts_likes:
    print(post_like)

### Update Records

In [ ]:
select_post_description = "SELECT description FROM post WHERE id = 2"
posts_description = execute_read(connection, select_post_description)
for post_description in posts_description:
    print(post_description)

update_post_description = """
UPDATE
    post
SET
    description = 'The weather has become pleasant now'  
WHERE
    id = 2;      
"""
execute_sql(connection, update_post_description)

### Delete Records

In [ ]:
delete_comment = "DELETE FROM comment WHERE id = 5;"
execute_sql(connection, delete_comment)

### Close Connection

In [ ]:
try:
    connection.commit()
    print("connection commit successfully.")
    if 'cursor' in locals():
        cursor.close()
        print("cursor close successfully.")
    if 'connection' in locals() and connection.is_connected():
        connection.close()
        print("connection close successfully.")
except mysql.connector.Error as e:
    print(f"❌ MySQL Error occurred: {e}")

except Exception as e:
    print(f"❌ An unexpected error occurred: {e}")

finally:
    # Ensure the connection is closed if it was opened
    if 'connection' in locals() and connection.is_connected():
        connection.close()
        print("🔒 Connection closed in finally block.")