### Import Library

In [1]:
import sys
sys.path.append(
    "/Users/jacky/Library/Mobile Documents/com~apple~CloudDocs/交大教學/DB/Lecture-Database/.venv/lib/python3.13/site-packages")
import mysql.connector

### Build Functions

In [ ]:
conn = mysql.connector.connect(
    host="localhost",   # Change to your MySQL server host
    user="dbms_demo",        # Change to your username
    password="NYCUdbms314",  # Change to your password
    database="demo"  # Change to your database name
)

In [7]:
def build_connection(host, user, password, database):
    connection = None
    try:
        connection = mysql.connector.connect(
        host=host,
        user=user,
        password=password,
        database=database
        )
        print(f'Connection to MySQL {database} database successfully!!')
    except Error as e:
        print(f'The error {e} occured')
    return connection

def execute_sql(connection, sql):
    cursor = connection.cursor()
    try:
        cursor.execute(sql)
        connection.commit()
        print("Query executed successfully")
    except Error as e:
        print(f"The error '{e}' occurred")

def execute_read(connection, sql):
    cursor = connection.cursor()
    result = None
    try:
        cursor.execute(sql)
        result = cursor.fetchall()
        return result
    except Error as e:
        print(f"The error '{e}' occurred")

### Build Connection

In [8]:
connection = build_connection('localhost', 'dbms_demo', 'NYCUdbms314', 'demo')

Connection to MySQL demo database successfully!!

### Create Tables

In [9]:
create_users_table = """
CREATE TABLE IF NOT EXISTS users (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT NOT NULL,
    age INTEGER,
    gender TEXT,
    nationality TEXT
);
"""
create_posts_table = """
CREATE TABLE IF NOT EXISTS posts (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    title TEXT NOT NULL,
    description TEXT,
    user_id INTEGER NOT NULL,
    FOREIGN KEY (user_id) REFERENCES users (id)
);
"""
create_comments_table = """
CREATE TABLE IF NOT EXISTS comments (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    text TEXT NOT NULL,
    user_id INTEGER NOT NULL,
    post_id INTEGER NOT NULL,
    FOREIGN KEY (user_id) REFERENCES users (id),
    FOREIGN KEY (post_id) REFERENCES posts (id)
);
"""
create_likes_table = """
CREATE TABLE IF NOT EXISTS likes (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    user_id INTEGER NOT NULL,
	post_id	INTEGER NOT NULL,
	FOREIGN KEY("user_id") REFERENCES users (id),
	FOREIGN KEY("post_id") REFERENCES posts (id)
);
"""
execute_sql(connection, create_users_table)
execute_sql(connection, create_posts_table)
execute_sql(connection, create_comments_table)
execute_sql(connection, create_likes_table)

NameError: name 'Error' is not defined

### Create Records

In [5]:
insert_users = """
INSERT INTO
    users (name, age, gender, nationality)
VALUES
    ('James', 25, 'male', 'USA'),
    ('Leila', 32, 'female', 'France'),
    ('Brigitte', 35, 'female', 'England'),
    ('Mike', 40, 'male', 'Denmark'),
    ('Elizabeth', 21, 'female', 'Canada');
"""
execute_sql(connection, insert_users)

Query executed successfully

In [6]:
insert_posts = """
INSERT INTO
    posts (title, description, user_id)
VALUES
    ('Happy', 'I am feeling very happy today', 1),
    ('Hot Weather', 'The weather is very hot today', 2),
    ('Help', 'I need some help with my work', 2),
    ('Great News', 'I am getting married', 1),
    ('Interesting Game', 'It was a fantastic game of tennis', 5),
    ('Party', 'Anyone up for a late-night party today?', 3);
"""
execute_sql(connection, insert_posts)

Query executed successfully

In [7]:
insert_comments = """
INSERT INTO
    comments (text, user_id, post_id)
VALUES
    ('Count me in', 1, 6),
    ('What sort of help?', 5, 3),
    ('Congrats buddy', 2, 4),
    ('I was rooting for Nadal though', 4, 5),
    ('Help with your thesis?', 2, 3),
    ('Many congratulations', 5, 4);
"""
execute_sql(connection, insert_comments)

Query executed successfully

In [8]:
insert_likes = """
INSERT INTO
    likes (user_id, post_id)
VALUES
    (1, 6),
    (2, 3),
    (1, 5),
    (5, 4),
    (2, 4),
    (4, 2),
    (3, 6);
"""
execute_sql(connection, insert_likes)

Query executed successfully

### Read Records

In [9]:
select_users = "SELECT * FROM users"
users = execute_read(connection, select_users)
for user in users:
    print(user)

(1, 'James', 25, 'male', 'USA')
(2, 'Leila', 32, 'female', 'France')
(3, 'Brigitte', 35, 'female', 'England')
(4, 'Mike', 40, 'male', 'Denmark')
(5, 'Elizabeth', 21, 'female', 'Canada')
(6, 'James', 25, 'male', 'USA')
(7, 'Leila', 32, 'female', 'France')
(8, 'Brigitte', 35, 'female', 'England')
(9, 'Mike', 40, 'male', 'Denmark')
(10, 'Elizabeth', 21, 'female', 'Canada')
(11, 'James', 25, 'male', 'USA')
(12, 'Leila', 32, 'female', 'France')
(13, 'Brigitte', 35, 'female', 'England')
(14, 'Mike', 40, 'male', 'Denmark')
(15, 'Elizabeth', 21, 'female', 'Canada')

In [10]:
select_posts = "SELECT * FROM posts"
posts = execute_read(connection, select_posts)
for post in posts:
    print(post)

(1, 'Happy', 'I am feeling very happy today', 1)
(2, 'Hot Weather', 'The weather has become pleasant now', 2)
(3, 'Help', 'I need some help with my work', 2)
(4, 'Great News', 'I am getting married', 1)
(5, 'Interesting Game', 'It was a fantastic game of tennis', 5)
(6, 'Party', 'Anyone up for a late-night party today?', 3)
(7, 'Happy', 'I am feeling very happy today', 1)
(8, 'Hot Weather', 'The weather is very hot today', 2)
(9, 'Help', 'I need some help with my work', 2)
(10, 'Great News', 'I am getting married', 1)
(11, 'Interesting Game', 'It was a fantastic game of tennis', 5)
(12, 'Party', 'Anyone up for a late-night party today?', 3)
(13, 'Happy', 'I am feeling very happy today', 1)
(14, 'Hot Weather', 'The weather is very hot today', 2)
(15, 'Help', 'I need some help with my work', 2)
(16, 'Great News', 'I am getting married', 1)
(17, 'Interesting Game', 'It was a fantastic game of tennis', 5)
(18, 'Party', 'Anyone up for a late-night party today?', 3)

In [11]:
select_comments = "SELECT * FROM comments"
comments = execute_read(connection, select_comments)
for comment in comments:
    print(comment)

(1, 'Count me in', 1, 6)
(2, 'What sort of help?', 5, 3)
(3, 'Congrats buddy', 2, 4)
(4, 'I was rooting for Nadal though', 4, 5)
(6, 'Many congratulations', 5, 4)
(25, 'Count me in', 1, 6)
(26, 'What sort of help?', 5, 3)
(27, 'Congrats buddy', 2, 4)
(28, 'I was rooting for Nadal though', 4, 5)
(29, 'Help with your thesis?', 2, 3)
(30, 'Many congratulations', 5, 4)
(31, 'Count me in', 1, 6)
(32, 'What sort of help?', 5, 3)
(33, 'Congrats buddy', 2, 4)
(34, 'I was rooting for Nadal though', 4, 5)
(35, 'Help with your thesis?', 2, 3)
(36, 'Many congratulations', 5, 4)

In [12]:
select_likes = "SELECT * FROM likes"
likes = execute_read(connection, select_likes)
for like in likes:
    print(like)

(1, 1, 6)
(2, 2, 3)
(3, 1, 5)
(4, 5, 4)
(5, 2, 4)
(6, 4, 2)
(7, 3, 6)
(8, 1, 6)
(9, 2, 3)
(10, 1, 5)
(11, 5, 4)
(12, 2, 4)
(13, 4, 2)
(14, 3, 6)

In [ ]:
# return the user ids and names, along with the description of the posts that these users posted
select_users_posts = """
SELECT users.id, users.name, posts.description
FROM 
    posts 
    INNER JOIN users ON posts.user_id = users.id;
"""
users_posts = execute_read(connection, select_users_posts)
for user_post in users_posts:
    print(user_post)

In [ ]:
# returns all posts, along with the comments on the posts and 
# the names of the users who posted the comments
select_posts_comments_users = """
SELECT posts.description as post, comments.text as comment, users.name as name
FROM
    posts 
    INNER JOIN comments ON posts.id = comments.post_id
    INNER JOIN users ON users.id = comments.user_id;
"""
posts_comments_users = execute_read(connection, select_posts_comments_users)
for post_comment_user in posts_comments_users:
    print(post_comment_user)

In [ ]:
# output that the column names
cursor = connection.cursor()
cursor.execute(select_posts_comments_users)
cursor.fetchone()
column_names = [description[0] for description in cursor.description]
print(column_names)

In [ ]:
# returns the post, along with the total number of likes that the post received
# Implicit joins use a comma-separated list of tables in the FROM clause, 
# and the join conditions are specified in the WHERE clause. 
# Implicit join is a deprecated syntax and is not recommended for use.

select_posts_likes = """
SELECT 
    posts.description as post, COUNT(likes.id) as likes
FROM 
    posts, likes
WHERE 
    posts.id = likes.post_id
GROUP BY 
    likes.post_id;
"""
posts_likes = execute_read(connection, select_posts_likes)
for post_like in posts_likes:
    print(post_like)

In [ ]:
# returns the post, along with the total number of likes that the post received
# Explicit joins use the JOIN keyword to specify the join operation, 
# and the join conditions are specified in the ON clause. 
# This is a recommended syntax.

select_posts_likes = """
SELECT 
    posts.description as post, COUNT(likes.id) as likes
FROM 
    posts
INNER JOIN likes ON posts.id = likes.post_id
GROUP BY 
    likes.post_id;
"""
posts_likes = execute_read(connection, select_posts_likes)
for post_like in posts_likes:
    print(post_like)

### Update Records

In [ ]:
select_post_description = "SELECT description FROM posts WHERE id = 2"
posts_description = execute_read(connection, select_post_description)
for post_description in posts_description:
    print(post_description)

update_post_description = """
UPDATE
    posts
SET
    description = 'The weather has become pleasant now'  
WHERE
    id = 2;      
"""
execute_sql(connection, update_post_description)
posts_description = execute_read(connection, select_post_description)
for post_description in posts_description:
    print(post_description)

### Delete Records

In [ ]:
select_comments = "SELECT * FROM comments;"
comments_all = execute_read(connection, select_comments)
for comment in comments_all:
    print(comment)
delete_comment = "DELETE FROM comments WHERE id = 5;"
execute_sql(connection, delete_comment)
comments_all = execute_read(connection, select_comments)
for comment in comments_all:
    print(comment)

### Drop Tables

In [ ]:
db_path = Path.cwd() / 'SQLiteDB' / 'sm_app.sqlite'
connection = build_connection(db_path)
try:
    cursor = connection.cursor()
    cursor.execute("DROP TABLE IF EXISTS likes;")
    print("Table dropped successfully.")
except Error as e:
    print(f'The error {e} occured')

finally:
    cursor.close()
    connection.close()

### Close Connection

In [ ]:
try:
    connection.commit()
    print("connection commit successfully.")
    cursor.close()
    print("cursor close successfully.")
    connection.close()
    print("connection close successfully.")
except Error as e:
    print(f'The error {e} occured')